* {
  box-sizing: border-box;
}
body {
  background-color: #e3867d;
}

html,
body {
  /*Removes padding and margin from the grid-container*/
  height: 100%;
  overflow: hidden; /*Removes overflow when resizing*/
  margin: 0;
  padding: 0;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px repeat(3, 1fr) 50px;
}

.header,
.main,
.sidebar,
.footer {
  /*Making sure that text inside the grid doesn't overflow*/
  word-wrap: break-word;
  word-break: break-word;
}
.header-btn {
  padding: 8px 12px;
  border: none;
  background-color: #0e3080;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.header-btn:hover {
  background-color: #195493;
}
.header {
  display: flex; /*Using flex to align the buttons inside the header*/
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  grid-column: 1/6;
  grid-row: 1/2;
  background-color: #962e2a;
}
.main {
  grid-column: 3/6;
  grid-row: 2/5;
  padding: 40px;
}

.mainitem {
  text-align: center;
  margin: auto;
  width: 300px;
  padding: 10px;
  border:solid green;
}

.footer {
  grid-column: 1/6;
  grid-row: 5/6;
  background-color: #cee6f2;
}
.sidebar {
  grid-column: 1/3;
  grid-row: 2/5;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  
  .sidebar {
    /*Removes sidebar one phone*/
    display: none;
  }
  .header{
    flex-direction:column;
  }
  .header,
  .main,
  .sidebar,
  .footer {
    grid-column: 1 / -1;
  }
}
