* {
  box-sizing: border-box;
}

body {
  background-color: #3f72af;
  line-height: 1.2;
  color: #112d4e;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 28px;
  line-height: 1;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
h2 {
  font-size: 26px;
  line-height: 1;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
h3 {
  font-size: 24px;
  line-height: 1;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

html,
body {
  /*Removes padding and margin from the grid-container*/
  margin: 0;
  padding: 0;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto repeat(3, 1fr) auto;
}

.header {
  display: flex; /*Using flex to align the buttons inside the header*/
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  grid-column: 1/6;
  grid-row: 1/2;
  background-color: #dbe2ef;
}
.header-btn {
  padding: 12px 16px;
  border: 2px solid #112d4e;
  color: #112d4e;
  background-color: #f9f7f7;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px;
  text-decoration: none;
}
.header-btn:hover {
  transform: scale(1.15);
  color: #f50a0a;
}

.header-btn.active {
  background-color: #3f72af;
  color: white;
  border: solid #112d4e;
  transform: scale(1.15);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.welcome {
  grid-column: 3/6;
  grid-row: 2/5;
  padding: 60px;
}
.welcome-item {
  line-height: 1.5;
  background-color: #f9f7f7;
  max-width: 550px;
  min-height: 300px;
  padding: 20px;
  margin: auto;
  border: solid #112d4e;
  border-radius: 10px;
  transition: transform 0.3s;
}
.welcome-item:hover {
  transform: scale(1.05);
}
.welcome-item img {
  width: 100%;
  border-radius: 8px;
}

.welcome-h2 {
  color: red;
}
.styled-hr {
  border: none;
  height: 3px;
  background-color: #112d4e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.sidebar {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  grid-column: 1/3;
  grid-row: 2/5;
}

.sidebar-item {
  max-width: 450px;
  min-height: 800px;
  line-height: 1.5;
  background-color: #f9f7f7;
  text-align: center;
  padding: 10px;
  border: solid #112d4e;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: none;
  transition: transform 0.3s;
  overflow-wrap: break-word;
  text-align: left;
}

.h2-sidebar {
  text-align: center;
}
.sidebar-item:hover {
  transform: scale(1.05);
}
.sign-up {
  grid-column: 1/6;
  grid-row: 2/5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up label {
  display: inline-block;
  font-weight: bold;
}
.sign-up-item {
  background-color: #f9f7f7;
  border: solid black;
  padding: 10px;
  border-radius: 5px;
}
.form-group {
  margin-bottom: 40px;
}
textarea {
  height: 100px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #112d4e;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 12px 16px;
  border: 2px solid #112d4e;
  color: #f9f7f7;
  background-color: #3f72af;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px;
  text-decoration: none;
}

input[type="submit"]:hover {
  background-color: #45a049;
  transform: scale(1.1);
}
.thank-you {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
  grid-row: 2 / 5;
  height: 100%;
  padding: 20px;
}
.thank-you-item {
  margin: auto;
  line-height: 1.5;
  background-color: #f9f7f7;
  max-width: 550px;
  min-height: 300px;
  padding: 20px;
  margin: auto;
  border: solid #112d4e;
  border-radius: 10px;
  transition: transform 0.3s;
}
.courses {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
  grid-column: 1/6;
  grid-row: 2/5;
}

.courses-video {
  width: 100%;
  max-width: 800px;
  border-radius: 30px;
  border: solid #112d4e;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}
.courses-video:hover,
.courses-table:hover {
  transform: scale(1.05);
}
.courses-table {
  border: 3px solid #112d4e;
  border-collapse: collapse;
  width: 100%;
  min-height: 250px;
  max-width: 800px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s;
}

.courses-table th,
td {
  padding: 5px;
  border: 2px solid #112d4e;
}
.courses table th {
  background-color: #dbe2ef;
  font-size: 24px;
}

.courses table td {
  background-color: #f9f7f7;
  font-size: 20px;
}

.footer {
  grid-column: 1/6;
  grid-row: 5/6;
  background-color: #112d4e;
  text-align: center;
  color: white;
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .sign-up-item {
    padding: 20px;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    padding: 15px;
  }

  input[type="submit"] {
    width: 93%;
  }

  .header-btn {
    min-width: 250px;
    text-align: center;
  }
  .sidebar {
    /*Removes sidebar one phone*/
    display: none;
  }
  .header {
    flex-direction: column;
  }
  .courses table th {
    font-size: 18px;
  }
  .courses table td {
    font-size: 16px;
  }
}
